<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
          <meta charset="utf-8">
        <title>Amatista</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\css\potreroDigital_proyecto_grupo13_estilo_amatista.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="..\imagenes\logo.ico">
      <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Righteous&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9a422e26fa.js" crossorigin="anonymous"></script>
        <style type="text/css"> a:link, a:visited, a:active {
            text-decoration:none;
        }
    </style>
      </head>

  <body>

        <header class="row">
          <div class="col">
            <div class="banner">
               <img src="..\imagenes\logotra.png" width="100" height="100" alt="Amatista" >
               <img src="..\imagenes\carrito banner.jpg" width="200" height="80" alt="carrito" >

                </div>
              </div>
          </header>


          <nav class="navbar navbar-expand-lg navbar-light navbar">
             <div class="container-fluid nav">
                 <div class="col-xs-4  col-sm-6  col-md-12">

                          <div class="n1"><a href="potreroDigital_proyecto_grupo13_index_Amatista">INICIO</a>
                           </div>

                          <div class="n1"><a href="potreroDigital_proyecto_grupo13_Carrito_Amatista.html">CÓMO&nbsp;COMPRAR</a>
                          </div>

                          <div class="n1"><a href="potreroDigital_proyecto_grupo13_Productos_Amatista">PRODUCTOS</a>

                          </div>
                          <div class="n1"><a href="potreroDigital_proyecto_grupo13_Marcas_Amatista">MARCAS</a>

                          </div>
                          <div class="n1"><a href="potreroDigital_proyecto_grupo13_Promociones_Amatista">PROMOCIONES</a>

                          </div>
                          <div class="n1"><a href="potreroDigital_proyecto_grupo13_Nosotras_Amatista.html">NOSOTRAS</a>

                          </div>
                        </div>
                  </div>
                </nav>


        <main class="principal1">
            <div id="inicio">
                  <img src="..\imagenes\imagen1ej.jpg" width="300" height="300"alt="">
              </div>

             <div id="aside">
                  <img src="..\imagenes\imagen1ej.jpg" width="300" height="300"alt="">
             </div>


          <section class="row row-cols-5 minigaleria">
                <div class="container-fluid">

                        <img src="..\imagenes\imagen2ej.jpg" alt="">
                       <img src="..\imagenes\imagen2ej.jpg" alt="">
                        <img src="..\imagenes\imagen2ej.jpg" alt="">
                        <img src="..\imagenes\imagen2ej.jpg" alt="">
                        <img src="..\imagenes\imagen2ej.jpg" alt="">
                        <img src="..\imagenes\imagen2ej.jpg" alt="">


                  </div>
                </div>
              </section>
          </main>


        <div class="container">
          <footer class="page-footer font-small fixed-bottom">

              <div class="footer">Dirección tal CABA &nbsp; Email@GMAIL.COM &nbsp; Contáctenos&nbsp;
<!-- links a maps email  -->
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--whatsapp -->
                <a class="wp-ic">
                  <i class="fab fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>

              </div>
            </div>

      </footer>

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>
       </body>

  <!--
<i class="fas fa-map-signs">
  <i class="fas fa-envelope-square"></i>
 <i class="fab fa-instagram-square"></i>
   <i class="fab fa-whatsapp-square"></i>
<i class="fab fa-facebook-square"></i>

<div class=”row”>
<div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″> nuestro bloque </div>
<div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″> nuestro bloque </div>
<div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″> nuestro bloque </div>
<div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″>nuestro bloque </div>
</div>
 -->
</html>
